.container{
  background-color: transparent ;
  background-repeat: no-repeat;
  background-position: absolute;
  color:white;
  background-attachment: fixed;
  scrollbar-width: none;
  overflow-x: hidden;
}

.top_winners{
    display:flex;
    align-items:center;
    padding:2vw;
    justify-content: space-evenly;
}

.winner{
    /* background-image:linear-gradient(140deg, rgba(177, 174, 25, 0.434), rgba(58, 57, 1, 0.434)) ; */
    background-image:linear-gradient(140deg, rgb(177, 174, 25, 0.573), rgba(58, 57, 1, 0.573)) ;
    text-align: center;
    width:20vw;
    height:50vw;
    border-radius:10px;
    padding:1vw;
    margin:1vw;
    border:1.5px solid rgb(186, 186, 8);
    box-shadow: 0vw 0vw 1vh rgba(255, 255, 0, 0.758);
    position:relative;
}

.winner .rank{
    /* border:2px solid yellow; */
    height:10vw;
    width:8vw;
    background-color: rgba(252, 252, 6, 0.977);
    position:absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    top:-15%;
    left:32%;
}

.winner .rank .innr_rank{
    height:88%;
    width:80%;
    margin:8% 10%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-image:linear-gradient(45deg, black, blue);
    position: relative;
}

.winner .rank .innr_rank p{
    position:absolute;
    top:-15%;
    left:35%;
    color:yellow;
    font-size:small;
    font-weight:bold;
}

.dp{
    width:10vw;
    height:10vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.365);
    border:1px solid tomato;
    box-shadow:0vh 0vh 1vh rgb(255, 39, 1);
    position:absolute;
    top:12%;
    left:25%;
}

.winner h3{
    color:white;
    text-shadow: 0vh 0vh 0.5vh orange;
    margin-top:90%;
    font-size: small;
}

.winner>p{
    font-weight:bold;
    margin-top:-0.5lh;
    color:yellow;
    font-size: small;
}

.winner .info{
    display: flex;
    flex-direction: row;
    margin-top:-8%;
    height:5vw;
    justify-content: space-evenly;
}

.winner .info .box{
    margin-top:1%;
    font-size:x-small;
    position:relative;
}

.winner .info .box small{
    /* margin-top:-35%; */
    font-weight: bold;
}

.second{
    border:1px solid rgb(12, 84, 104);
    box-shadow: none;
    margin-top:15vw;
    background-image:linear-gradient(140deg, rgba(25, 144, 177, 0.573), rgba(1, 47, 58, 0.573)) ;
}

.second .rank{
    background-color:rgb(22, 149, 184) ;
}

.second .rank .innr_rank p{
    color:blueviolet;
}

.second .dp{
    border:1px solid rgb(22, 149, 184);
    box-shadow:0vh 0vh 1vh rgba(18, 144, 179, 0.701);
}

.second>p{
    color:rgba(4, 166, 253, 0.605);
    text-shadow: none;
}

.third{
    border:1px solid rgb(104, 87, 12);
    box-shadow: none;
    margin-top:20vw;
    background-image:linear-gradient(140deg, rgba(177, 157, 25, 0.573), rgba(58, 46, 1, 0.573)) ;
}

.third .rank .innr_rank p{
    color:rgba(255, 166, 0, 0.705);
}

.third .rank{
    background-color:rgb(216, 173, 31) ;
}

.third .dp{
    border:2px solid rgb(184, 146, 22);
    box-shadow:0vh 0vh 1vh rgba(179, 144, 18, 0.701);
}

.third>p{
    color:rgb(215, 176, 2);
    text-shadow: none;
}

table{
    border:1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:hidden;
    width:100%;
    border-collapse: collapse;
}

table thead{
    border:1px solid blue;
}

table thead tr{
    background-color: rgba(14, 82, 150, 0.338);
    padding:1vw;
    height:7vw;
    /* font-size:4vw; */
}

table tbody tr{
    background-color: rgba(3, 3, 91, 0.249);
    text-align: center;
    height:5vw;
    border-bottom: 1px solid violet;
}

table tbody tr .player_name{
    position:relative;
    width:30vw;
    font-size:small;
}

table tbody .dp_t{
    background-size:cover;
    border:1px solid gray;
    background-image:url("https://res.cloudinary.com/dnfhwfbmq/image/upload/v1780488368/c8d7aXD4SvWCL8_CMb5ZDQ_tmvj49.webp");
    height:4vw;
    width:4vw;
    background-color: rgb(163, 71, 249);
    border-radius: 50%;
    margin:1vw;
    position:absolute;
    top:-5%;
    display: none;
}

table tbody p{
    margin:0.5vw;
}

table tbody .points{
    color:rgb(166, 14, 205);
    font-weight: bold;
    font-size:small;
}

table tbody tr td{
  border-top:1px solid gray;
  margin:0;
}

table tbody tr td button{
    border:none;
    background-color: transparent;
    border-radius:3px;
    padding:0.5vw 1vw;
    color:gray;
    font-size: small;
    /* width:17vw; */
}