
body, html {
  background-color: rgb(26, 24, 24) ;
  background-repeat: no-repeat;
  background-position: absolute;
  color:white;
  background-attachment: fixed;
  scrollbar-width: none;
  overflow-x: hidden;
}

.login{
  margin:3vh;
  margin-top:2vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login .card .login_card{
  padding: 15px;
  background-color: rgb(15, 15, 15);
  border:1px solid blue;
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:320px;
  min-width:250px;
  border-radius: 10px;
  /* height:80vh; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:5px;
  box-shadow: 0px 0px 10px cyan;
}

.login .card .login_card input{
  font-size: 2.5vh;
  padding:1.5vh;
  border-radius:5px;
  outline:none;
  background-color: rgba(53, 53, 53, 0.356);
  border:1px solid gray;
  max-width:300px;
  width:68vw;
  margin:1vmax 3vmax;
  color:white;
}

.login .card .login_card input:hover{
  border-color:blue;
  box-shadow: 0px 0px 5px cyan;
}

.login .card .login_card a{
  text-decoration: none;
  color:rgba(7, 7, 207, 0.753);
}

.login .card .login_card a:hover{
  color:rgba(5, 5, 247, 0.968);
}

.login .card .login_card button{
  background-color: rgba(0, 0, 255, 0.34);
  color:white;
  font-weight:bold;
  max-width:300px;
  width:72vw;
  margin:1vw 3vw;
  border-radius: 5px;
  border:1px solid blue;
  padding:1.5vh;
  transition:border-radius 0.3s ease, box-shadow 0.3s ease;
}

.login .card .login_card button:hover{
  border-radius: 30px;
  text-shadow:0.5px 0.5px 10px white;
  cursor:pointer;
  box-shadow: 0.5px 0.5px 4px gray;
}

.login .card .login_card label{
  margin-left:-60%;
  font-weight: bold;
  font-size: 15px;
  margin-top:5vh;
}

.login .card .login_card .txt{
  color:gray;
  margin-top: -3vh;
  font-size: 14px;
}