.login{
  margin:3vh;
  margin-top:2vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.login .card{
   text-align: center;
   height:100vh;
}

.login .card small{
  color:silver;
}

.login .card a{
  color:blue;
  text-decoration: none;
}

.login .card .login_card{
  padding: 15px;
  margin-top:1vw;
  background-color: rgb(15, 15, 15);
  border:1px solid blue;
  display:flex;
  flex-direction:column;
  width:80vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 70vw rgba(55, 0, 255, 0.388);
}

.login .card .login_card input{
  font-size: medium;
  padding:1.5vh;
  border-radius:5px;
  outline:none;
  background-color: rgba(53, 53, 53, 0.356);
  border:1px solid gray;
  max-width:300px;
  width:68vw;
  margin:1vmax 3vmax;
  color:white;
}

.login .card .login_card input:hover{
  border-color:blue;
  box-shadow: 0px 0px 5px blue;
}

.login .card .login_card a{
  text-decoration: none;
  color:rgba(7, 7, 207, 0.753);
}

.login .card .login_card a:hover{
  color:rgba(5, 5, 247, 0.968);
}

.login .card .login_card button{
  background-color:blue;
  color:white;
  font-weight:bold;
  max-width:300px;
  width:72vw;
  margin:1vw 3vw;
  border-radius: 5px;
  border:1px solid blue;
  padding:1.5vh;
  transition:border-radius 0.3s ease, box-shadow 0.3s ease;
}

.login .card .login_card button:hover{
  border-radius: 30px;
  text-shadow:0.5px 0.5px 10px white;
  cursor:pointer;
  box-shadow: 0.5px 0.5px 4px blue;
}

.login .card .login_card h2{
    font-size: xx-large;
}

.login .card .login_card label{
  margin-left:-60%;
  font-weight: bold;
  font-size: large;
  margin-top:5vh;
}

.login .card .login_card .txt{
  color:gray;
  margin-top: -0.5lh;
  font-size: medium;
}

.login_card .info_box{
  display: flex;
  flex-direction: column;
  background-color: rgba(53, 53, 53, 0.274);
  padding:0vw 4vw;
  margin:10vw 2vw;
  border-radius: 10px;
}

.login_card .info_box .box{
  display: flex;
}

.login_card .info_box .box .info{
   text-align: left;
   align-items: center;
}

.login_card .info_box .box .info>p{
   color:rgb(155, 155, 155);
   margin-top: -0.9lh;
}

.login_card .info_box .box .icon{
   align-items: center;
   justify-content: center;
   display: flex;
   width:15vw;
   height:15vw;
   margin-top: 3vw;
}