/* body, html{
  background-color: rgb(26, 24, 24) ;
  background-repeat: no-repeat;
  background-position: absolute;
  color:white;
  background-attachment: fixed;
  scrollbar-width: none;
  overflow-x: hidden;
} */

.box{
    /* border:2px solid blue; */
    display:flex;
    flex-direction:column;
    margin:1vw;
    margin-top:14vw;
    /* border-radius:10px;
    overflow:hidden; */
}

.box .poster {
    overflow:hidden;
    border:1px solid blue;
    display:flex;
    flex-direction:column;
    position: relative;
    padding: 3vw;
    border-radius:10px;
}

.box .poster img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .poster h2{
    font-size:x-large;
    position:relative;
}

.box .poster .brief{
    margin-top:-1lh;
    color:rgb(207, 204, 204);
    position:relative;
    font-size: small;
}

.box .poster .poster_cards{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: space-between;
    margin:2vw;
}

.box .poster .poster_cards .card{
    color:rgb(204, 0, 204);
    border:1.3px solid rgb(204, 0, 204);
    background-color: rgba(255, 0, 255, 0.148);
    border-radius:15px;
    padding:2vw;
    margin:2vw 0vw;
    width:20vw;
    text-align:center;
    font-size: small;
}

.box .organization{
    color:rgba(158, 157, 157, 0.957);
    position:relative;
    font-size: small;
}

.box .organization span{
    color:white;
}

.btns{
    position:relative;
}

.btns button{
    border:1px solid blue;
    font-size:medium;
    padding:2vw;
    border-radius:5px;
    background:rgb(0, 0, 255);
    color:white;
    margin:1vw;
    box-shadow:0px 0px 0.5vw blue;
    transition: border-radius 0.2s ease;
}

.btns button:hover{
    border-radius:20px;
}

.timer{
    border:1px solid rgb(64, 64, 64);
    background-color:rgb(13, 1, 53);
    border-radius:5px;
    margin-top:3vw;
}

.timer p{
   font-size:medium;
   margin:4vw;
}

.timer .box{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top:4vw;
    border:none;
}

.timer .box .time{
    background-color:rgba(0, 0, 0, 0.699);
    border:1px solid black;
    border-radius:5px;
    padding:2vw;
    /* margin:2vh; */
    text-align:center;
    color:gold;
    font-size:12px;
}

.timer .box .time span{
    font-size:xx-large;
}

.part1 {
    display:flex;
    flex-direction: column;
}

.part1 .box1{
    display: flex;
    flex-direction:column;
}

.part1 .box1 .innr{
    border:1px solid blue;
    width:min(87vw, 750px);
    border-radius:10px;
    margin:2vw;
    margin-left:0;
    padding:3vw;
    background-color: black;
}

.part1 .box1 .innr h3{
    margin-top:-0.5px;
    font-size:larger;
}

.part1 .box1 .innr p{
    color:rgb(176, 174, 174);
}

.part1 .box1 .innr .cards{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    gap:2vw;
}

.part1 .box1 .innr .cards .card{
    border:1px solid blue;
    border-radius:5px;
    padding:0px 2vw;
    /* margin:2vw; */
    text-align:center;
    display: flex;
}

.part1 .box1 .innr .cards .card span{
    color:white;
    font-weight:bold;
}

/* 2nd no ka innr box */

.part1 .box1 .innr2{
   border:1px solid blue;
    /* width:60vw; */
    border-radius:10px;
    margin-top:2vw;
    padding:3vw;
    background-color: black;
}

.part1 .box1 .innr2 h3{
    margin-top:-0.5px;
    font-size:larger;
}

.part1 .box1 .innr2 .box{
    border:none;
    display:flex;
    flex-direction:row;
    margin:0;
    gap:3vw;
}

.part1 .box1 .innr2 .box .details{
    border:1px solid gray;
    border-radius:5px;
    padding:2vw;
    position:relative;
    display: flex;
    flex-direction:column;
    /* width:20vw; */
}

.part1 .box1 .innr2 .box .details span{
    font-size: small;
    margin-left:3vw;
}

/* .part1 .box1 .innr2 .box .details2{
    width:30vw;
} */

/* .part1 .box1 .innr2 .box .details span{
    margin-left:20px; 
    position:absolute;
    right:1vw;
} */

.part1 .box2{
    display: flex;
    flex-direction:column;
}

.part1 .box2 .innr{
    border:1px solid blue;
    width:min(87vw, 750px);
    border-radius:10px;
    margin:2vw;
    margin-left:0;
    padding:3vw;
    position:relative;
    display:flex;
    flex-direction:column;
    background-color: black;
}

.part1 .box2 .innr h3{
    margin-top:3vw;
    font-size:larger;
}

.part1 .box2 .innr .prizepool{
    border:1px solid gold;
    border-radius:6px;
    text-align:center;
    background-color:rgba(255, 217, 0, 0.274);
}

.part1 .box2 .innr .prizepool p{
    font-size:xx-large;
    font-weight:bold;
    color:rgb(255, 219, 14);
    text-shadow: 0vw 0vw 1vw rgba(255, 217, 0, 0.58);
}

.part1 .box2 .innr .prizepool span p{
    font-size:x-small;
    margin-top:-10vw;
    color:silver;
}

.part1 .box2 .innr>p{
    color:rgb(163, 161, 161);
    margin-top:3vw;
    padding-bottom: 3vw;
    padding-left:1vw;
    font-size: large;
    border-bottom: 1px solid gray;
}

.part1 .box2 .innr p span{
    color:white;
    position:absolute;
    right:5%;
}

.part1 .box2 .innr2{
    border:1px solid blue;
    width:min(87vw, 750px);
    border-radius:10px;
    margin:2vw;
    margin-left:0;
    padding:3vw;
    position:relative;
    display:flex;
    background-color: black;
    flex-direction:column;
}

.part1 .box2 .innr2 h2{
    /* margin-top:-0.5px; */
    font-size:larger;
}

.part1 .box2 .innr2 li{
    margin-top:10px;
    color:blue;
    margin:2vw;
    margin-left:3vw;
}

.part1 .box2 .innr2 button{
    background-color: transparent;
    border:1px solid gray;
    padding:0.5vw;
    color:rgba(255, 255, 255, 0.425);
    border-radius:5px;
}

.part1 .box2 .innr2 button:hover{
    color:rgb(184, 182, 182);
    border:1px solid rgb(184, 182, 182);
}

.part2{
    display:flex;
    flex-direction:row;
}

.part2 .box{
    border:1px solid blue;
    border-radius:10px;
    margin:3vw 1vw;
    padding:3vw;
    background-color: black;
}

.part2 .box .timeline{
    position:relative;
    height:100%;
    width:100%;
    background-color: black;
}

.part2 .box .timeline::after{
   content:'';
   background-color:rgb(183, 10, 183);
   height:70%;
   width:2px;
   position: absolute;
   left:4.5%;
   top:5%;
   z-index:1;
   top:13%;
}

.part2 .box .timeline .content{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin:1.5vw;
}

.part2 .box .timeline .content .circle{
  height: min(3vw, 15px);
  width:min(3vw, 15px);
  background-color:rgb(216, 7, 216);
  border-radius:50%;
  box-shadow: 0vw 0vw 2vw rgb(255, 0, 255);
  left:10%;
  z-index:2;
  /* animation:circle 0.2s forwards; */
  border:5px solid black;
  /* opacity: 0; */
}

.part2 .box .timeline .content .line{
    padding-left:1vw;
}

.box .bottom_btn{
    border-radius:10px;
    font-size:medium;
    padding:2vw;
    margin:1vw;
    font-weight:bold;
    width: 92vw;
    z-index:9999;
    position:fixed;
    bottom:0;
    transition:opacity 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease;
}

.box .bottom_btn.hide{
    opacity: 0;
}

.box .disabled{
    cursor:not-allowed;
    background-image:linear-gradient(135deg, rgb(0, 255, 38), rgb(60, 255, 0.626));
    border:1px solid rgb(0, 255, 21);
    /* color:rgb(4, 255, 0); */
    color:white;
}

.box .enabled {
    cursor:pointer;
    color:white;
    border:none;
    background-image:linear-gradient(135deg,rgb(34, 0, 255), rgba(70, 42, 255, 0.626));
}